.new-menu-tag-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .new-menu-tag {
    display: block;
    position: absolute;
    top: 0;
    left: -4px;
    transform: translate(-100%, 0);
    text-align: center;
    color: #fff;
    background-color: #bf2a5c;
    border-radius: 3px;
    font-size: 12px;
    padding: 0 4px;
  }
}