@import 'variables';
@import 'mixins';

.page-index {
  .desc {
    width: 1000px;
    margin: 0 auto;
    padding-top: 60px;

    > p, > a {
      text-align: center;
    }

    .title {
      font-size: 64px;
      font-family: $font-family-logo;
      color: $brand-info;
    }

    .subtitle {
      margin: 20px 0;
      font-size: 24px;
      color: $gray-light;
    }

    .github-button {
      visibility: hidden;
    }

    iframe {
      display: block;
      margin: 16px auto 0;
    }

    .install-btn {
      width: 280px;
      margin: 0 auto;
    }
  }

  .examples {
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;

    > .ex-code {
      width: 540px;
      margin: 0 auto;
    }
  }

  .features {
    text-align: center;
    background-color: #f9f9f9;
    margin-top: 60px;

    .feat {
      width: 1000px;
      margin: 0 auto;
      @include clearfix;

      > li {
        float: left;
        vertical-align: top;
        width: 250px;
        margin: 40px;

        i {
          font-size: 48px;
        }

        strong {
          font-size: $font-size-xxl;
          font-weight: 700;
          display: block;
          margin: 8px auto;
        }

        .text {
          font-size: $font-size-lg;
          line-height: 1.5;
        }
      }
    }
  }

  .like {
    padding-top: 42px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #22b5bf;
    color: white;

    i {
      font-size: 48px;
    }

    .text {
      padding-top: 20px;
      font-size: $font-size-xxxl;
    }

    .btn {
      padding: 40px 0;
    }

    .getting-started-btn {
      text-transform: uppercase;
      letter-spacing: 1px;
      display: inline-block;
      padding: 12px 20px;
      border-radius: 25px;
    }
  }
}
