name: Build and test

permissions:
  contents: read
  pull-requests: write

on:
    pull_request:
        branches:
        - master
    push:
        branches:
        - master

env:
    NODE_VERSION: 20.x

jobs:
    build_test:
        name: Build & Test
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Repository
          uses: actions/checkout@v4

        - name: Use Node.js ${{ env.NODE_VERSION }}
          uses: actions/setup-node@v4
          with:
            node-version: ${{ env.NODE_VERSION }}
            cache: 'npm'

        - name: Install Dependencies
          run: npm ci

        - name: Lint Code
          run: npm run lint

        - name: Check types
          run: npm run check-types

        - name: Build
          run: npm run build
